/* ------------ HOME PAGE ------------ */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Julee&family=Mountains+of+Christmas:wght@700&family=Nova+Square&display=swap');

/* ------------- HEADER ------------- */
nav {
    position: relative;
    display: flex;
    justify-content: left;
}

nav a {
    text-align: center;
    color: #30F2F2;
    text-decoration: none;
    font-size: 35px;
}

.header_text {
    margin: 5px 20px;
    padding: 5px;
}

.header_text:hover {
    background-color: #115259;
    padding: 5px;
}

nav a:hover {
    color: white;
    border-radius: 15px;
}

header {
    background-color: #1B818C;
    font-family: "Nova Square";
    border-radius: 15px;
    margin-bottom: 25px;
}

/* Dropdown Button */
.dropbtn {
    font-family: "Nova Square";
    background-color: #1B818C;
    font-size: 35px;
    color: #30F2F2;
    border: none;
    cursor: pointer;
}
  
  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #115259;
    color: white;
    border-radius: 15px;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1B818C;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0px 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: #30F2F2;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #115259;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/* ------------- BODY ------------- */
body {
    background-image: linear-gradient(to right, lightgrey, grey);
}