@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Julee&family=Mountains+of+Christmas:wght@700&family=Nova+Square&display=swap');

nav {
    position: relative;
    display: flex;
    justify-content: left;
}

nav a {
    text-align: center;
    color: #30F2F2;
    text-decoration: none;
    font-size: 35px;
}

.header_text {
    margin: auto;
    padding: 10px;
}

.header_text:hover {
    background-color: #115259;
    padding-top: 2px;
    padding-bottom: 2px;
}

nav a:hover {
    color: white;
    border-radius: 15px;
}

header {
    background-color: #1B818C;
    font-family: "Nova Square";
    margin-bottom: 25px;
}

body {
    background-image: linear-gradient(to right, lightgrey, grey);
}