/* ------------- HEADER ------------- */
nav {
    position: relative;
    display: flex;
    justify-content: left;
}

nav a {
    text-align: center;
    color: #F3F1F4;
    text-decoration: none;
    font-size: 30px;
}

.header_text {
    margin: auto;
    padding: 10px;
}

.header_text:hover {
    background-color: #0F430F;
}

nav a:hover {
    color: #F3F1F4;
}

header {
    background-color: #8D0B12;
    font-family: var();
    margin-bottom: 25px;
}


/* ------------- WISHLIST PAGE ------------- */
#title {
    text-align: center;
}

div.centered {
    display: flex;
    justify-content: center;
}

div.gallery {
    margin: 10px;
    border: 5px solid black;
    float: left;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
}

div.gallery img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s;
}

div.gallery:hover {
    border: 5px solid #0F430F;
    transform: scale(1.1);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F3F1F4;
}

.gallery:hover .overlay {
    opacity: .8;
}

.text {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}